<source>
{
	"type": "serial",
        "color": "#5D5F60",
        "colors": ["#2E658C","#129B06"],
	"categoryAxis": {
		"gridPosition": "start",
		"autoRotateAngle": 20,
		"autoRotateCount": 1,
                "fontSize": 9,
                "axisAlpha": 0,
                "gridAlpha": 0
	},
	"trendLines": [],
	"graphs": [
		{
			"balloonText": "[[description]]: [[value]]",
			"fillAlphas": 0.5,
			"type": "column"
		}
	],
	"guides": [],
	"valueAxes": [
		{
		        "stackType": "100%",
                        "axisAlpha": 0,
                        "gridAlpha": 0
		}
	],
	"allLabels": [],
	"balloon": {}
}
</source>