<source>
{
	"type": "serial",
	"angle": 20,
	"depth3D": 30,
        "color": "#5D5F60",
        "colors": ["#96D1EA","#FFFC00"],
	"columnWidth": 0.7,
	"categoryAxis": {
		"gridPosition": "start",
                "fontSize": 9,
                "axisAlpha": 0,
                "gridAlpha": 0
	},
	"trendLines": [],
	"graphs": [
		{
			"balloonText": "[[description]]: [[value]]",
			"fillAlphas": 0.8,
                        "lineAlpha": 0.3,
                        "labelText": "[[value]]",
			"type": "column"
		}
	],
	"guides": [],
	"valueAxes": [
		{
                        "stackType": "regular",
                        "axisAlpha": 0,
                        "gridAlpha": 0
		}
	],
	"allLabels": [],
	"balloon": {}
}
</source>