<source>
{
	"type": "serial",
        "color": "#5D5F60",
	"plotAreaBorderAlpha": 0.06,
	"categoryAxis": {
		"gridPosition": "start",
		"axisAlpha": 0.7,
		"autoWrap": true,
		"axisColor": "#7db61c",
		"axisThickness": 3,
                "fontSize": 8,
                "tickLength": 10,
		"startOnAxis": true
	},
        "valueAxes": [{
		"axisAlpha": 0.1
        }],
       "chartCursor": {
		"valueLineEnabled": true,
		"cursorColor": "#7db61c",
		"valueLineBalloonEnabled": true
        },
	"trendLines": [],
	"graphs": [
		{
			"useNegativeColorIfDown": true,
			"balloonText": "[[description]]<br><b>value: [[value]]</b>",
			"bullet": "round",
			"bulletBorderAlpha": 1,
			"bulletBorderColor": "#FFFFFF",
			"hideBulletsCount": 50,
			"lineThickness": 2,
			"lineColor": "#fdd400",
			"negativeLineColor": "#67b7dc"
		}
	],
	"guides": [],
	"allLabels": [],
	"balloon": {}
}
</source>