<source>
{
	"type": "serial",
	"angle": 30,
	"depth3D": 20,
        "color": "#5D5F60",
        "colors": ["#88CC82","#FFFC00"],
	"categoryAxis": {
		"gridPosition": "start",
                "fontSize": 9,
                "axisColor": "#5D5F60"
	},
	"trendLines": [],
	"graphs": [
		{
			"balloonText": "[[description]]: [[value]]",
			"fillAlphas": 0.7,
			"type": "column"
		}
	],
	"guides": [],
	"valueAxes": [
		{
                        "axisColor": "#5D5F60",
			"stackType": "3d"
		}
	],
	"allLabels": [],
	"balloon": {}
}
</source>