<source>
{
	"type": "serial",
        "color": "#5D5F60",
	"categoryAxis": {
		"gridPosition": "start",
		"autoWrap": true,
                "fontSize": 8,
                "axisAlpha": 0,
                "gridAlpha": 0,
                "tickLength": 0,
		"startOnAxis": true
	},
        "valueAxes": [{
                "gridAlpha": 0,
                "axisAlpha": 0
        }],
       "chartCursor": {
		"valueLineEnabled": true,
		"cursorColor": "#7db61c",
		"valueLineBalloonEnabled": true
        },
	"trendLines": [],
	"graphs": [
		{
			"balloonText": "[[description]]<br><b>value: [[value]]</b>",
                        "type": "column",
                        "fillAlphas": 0.7,
                        "lineAlpha": 0,
			"fillColors": "#67b7dc"
		},
		{
			"balloonText": "[[description]]<br><b>value: [[value]]</b>",
			"bullet": "round",
			"lineThickness": 2,
			"lineColor": "#FF751A",
                        "type": "line"
		}
	],
	"guides": [],
	"allLabels": [],
	"balloon": {}
}
</source>