<source>
{
	"type": "radar",
        "color": "#5D5F60",
        "valueAxes": [ {
                   "gridType": "circles",
                   "minimum": 0,
                   "autoGridCount": false,
                   "axisAlpha": 0.2,
                   "fillAlpha": 0.1,
                   "fillColor": "#FFFFFF",
                   "gridAlpha": 0.1
                   } ],
        "graphs": [ {
                   "balloonText": "[[category]]: [[value]]",
                   "bullet": "round",
                   "bulletSize": "6",
                   "fillColors": "#33B737",
                   "lineColor": "#33B737",
                   "fillAlphas": 0.1
                   } ],
	"allLabels": [],
	"balloon": {}
}
</source>