<source>
{
	"type": "pie",
	"balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
	"alpha": 0.6,
	"colors": [
		"#04D215",
		"#0D8ECF",
		"#F4B400",
		"#E73234",
		"#1C4B7F",
		"#98999B"
	],
	"outlineAlpha": 1,
	"radius": 50,
	"titleField": "category",
	"valueField": "column-1",
	"fontSize": 9,
	"allLabels": [],
	"balloon": {},
	"titles": []
}
</source>